body {
   background-image: url('Photo/bg1.png');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-attachment: fixed;
   
}


.center-text {
   display: flex;
   justify-content: center;
}


.center-text {
   text-align: center;
}

.center-image {
   display: block;
   margin: 0 auto;
   max-width: 100%;
   height: auto;
   
}

.row.text-center {
   justify-content: center;
}

.row.text-center .col {
   flex-basis: 20%;
   max-width: 20%;
}

.nav-link {
   color: white;
}

.breadcrumb .breadcrumb-item a {
   color: white;
}

.nav-item .nav-link:hover {
   color:  rgb(168, 37, 37);
}

.nav-item.dropdown .nav-link.dropdown-toggle:focus,
.nav-item.dropdown .nav-link.dropdown-toggle:hover {
    background-color: rgb(168, 37, 37);
    color: white;
}
.smaller-image {
   max-width: 50px;
 }
 .carousel-image {
   max-width: 100%; 
   height: auto; 
 }

 .nav-item .nav-link {
   color: white;
 }




/*main page, text size*/
.text-xxl-center.font1 {
   font-size: 40px;
   

}

.text-xl-center.font1 {
   font-size: 25px;
}

.text-bigger.font1 {
   font-size: 20px;
}

.red-marker {
   background-color: rgb(168, 37, 37);
   color: white;
   padding: 2px 5px;
   border-radius: 20px;
   display: inline-block;
 }
 
 .column:first-child {
   margin-left: 20px;
 }
 
